1)

In [1]:
l=[25,78,75,5,23,482]

In [2]:
for i in l:
    print(i+1)

26
79
76
6
24
483

In [19]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

2)

In [21]:
l1=[1,2,3,4,5,6,7,8,9,10]

In [22]:
result=0
for i in l1:
    result=result+i
result

55

In [25]:
product=1
for i in range(1,11):
    product=product*i
product

3628800

In [28]:
num=10
sum=0
while(num>0):
    sum+=num
    num-=1
print(sum)

55

In [30]:
num=int(input('enter number'))
product=1
while num>0:
    product=product*num
    num=num-1
product

enter number 10

3628800

4)

In [35]:
l3=[]
for i in range(1,101):
    l3.append(i**3)
print(l3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [4]:
l4=[list(range(1,101))]

In [5]:
l4

[[1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100]]

In [4]:
l4=[i**3 while i in l4]
print(l4)

SyntaxError: invalid syntax (4063601468.py, line 1)

5)

In [6]:
string= input('enter the string:')
count=0
string=string.lower()
for i in string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        count+=1
    if count==0:
        print('no vowels found')
    else:
        print('total vowels are:'+str(count))

enter the string: i want to become a data scientist

total vowels are:1
total vowels are:1
total vowels are:1
total vowels are:2
total vowels are:2
total vowels are:2
total vowels are:2
total vowels are:2
total vowels are:3
total vowels are:3
total vowels are:3
total vowels are:4
total vowels are:4
total vowels are:5
total vowels are:5
total vowels are:6
total vowels are:6
total vowels are:7
total vowels are:7
total vowels are:7
total vowels are:8
total vowels are:8
total vowels are:9
total vowels are:9
total vowels are:9
total vowels are:9
total vowels are:10
total vowels are:11
total vowels are:11
total vowels are:11
total vowels are:12
total vowels are:12
total vowels are:12